* {
  box-sizing: border-box; /* 使padding、border、margin不影響主體物件大小 */
  margin: 0;
  padding: 0;
  font-family: "Helvetica", "Apple LiGothic Medium", "Herr Von Muellerhoff",
    "Microsoft JhengHei", sans-serif; /* 字形樣式 */
  list-style: none; /* 移除列表的符號 */
  text-decoration: none; /* 移除超連結的下底線 */
  color: #000;
  border: none;
}
.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
}
h3 {
  font-size: 1.5rem;
  color: red;
  text-align: center;
}
input[type="text"] {
  font-size: 1.5rem;
  background: inherit;
  min-width: 60%;
}
.container {
  height: calc(100vh - 45px); /* 高度符合顯示器高度 */
  background: linear-gradient(45deg, peru, lightblue); /* 使背景漸層 */
  opacity: 0.7; /* 顯示度 */
  display: flex;
}
.courses {
  width: 100%;
  padding-top: 5rem;
  margin: 0 auto;
}
.course-box {
  margin: 0 auto;
  height: 20%;
  width: 40%;
  font-size: 4rem;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
  border-radius: 15px;
  box-shadow: 0 0 5px 5px #000;
  cursor: pointer;
  font-weight: 700;
}
.course-box:hover {
  font-size: 4.2rem;
  box-shadow: 0 0 10px 10px rgb(84, 49, 14);
}
.container-full,
.container-auto {
  height: 100vh;
  background: linear-gradient(45deg, peru, lightblue);
  opacity: 0.7;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
nav {
  width: 100%;
  height: 45px;
  background: gray;
  display: grid;
  grid-template-columns: 1fr 3fr 3fr;
}
.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
#search-btn {
  background: inherit;
  font-size: 1.3rem;
  margin-left: 0.5rem;
  cursor: pointer;
  background: lightcoral;
  padding: 0.5rem;
  border-radius: 5px;
}
#search {
  padding: 0.3rem;
  border: 1px solid #000;
  width: 80%;
}
#search:focus {
  background: orangered;
}
.title-box {
  background: palegreen;
  margin: 0 0.5rem;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 0.5rem;
}
.title {
  font-size: 1.3rem;
  font-weight: 700;
  margin-right: 0.5rem;
}
.title:hover {
  color: lightseagreen;
}
.back {
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  color: white;
  font-size: 1.3rem;
  border-radius: 5px;
  cursor: pointer;
}
.css-aside {
  width: 60%;
  height: 100%;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  background-color: lightsalmon;
  overflow-y: scroll;
}
.course {
  cursor: pointer;
  margin: 1rem;
  font-size: 1.5rem;
}
.right {
  width: 40%;
  border: 1px solid #000;
}
#result-box {
  width: 100%;
  background: peru;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow-y: scroll;
}
.result-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.content {
  background: blue;
  height: 50%;
  font-size: 1.2rem;
  color: black;
  font-weight: 700;
  padding: 1rem 0 1rem 1.3rem;
}

.margin-left {
  margin-left: 1.3rem;
}
.before-top::before {
  content: "top :";
  font-size: 1.5rem;
}
.before-right::before {
  content: "right :";
  font-size: 1.5rem;
}
.before-bottom::before {
  content: "bottom :";
  font-size: 1.5rem;
}
.before-left::before {
  content: "left :";
  font-size: 1.5rem;
}
.empty {
  width: 500px;
  height: 40px;
}
#result {
  width: 250px;
  height: 200px;
  background: firebrick;
  display: flex;
  justify-content: center;
  align-items: center;
}
#outside {
  width: 150px;
  height: 150px;
  background: red;
}
#inner1 {
  width: 50px;
  height: 50px;
  background: green;
}
#inner2 {
  width: 75px;
  height: 75px;
  background: yellow;
}
#inner2:hover {
  width: 100px;
  height: 100px;
}
.rotateBall {
  width: 10px;
  height: 10px;
  background: #000;
  border-radius: 50%;
  margin: 0.3rem;
}

/* animation */
#keyframesNameDiv::before {
  content: "@keyframes ";
  color: purple;
  margin-right: 0.5rem;
  font-size: 1.3rem;
}
#keyframes-box {
  margin-left: 2.2rem;
}
@keyframes name {
  0% {
    left: 0px;
  }
  50% {
    left: 100px;
  }

  100% {
    left: 200px;
  }
}

/* typesetting */
#display-box1 {
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  background: red;
}
#display-box2 {
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  background: blue;
}
#display-box3 {
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  background: green;
}
#display-box4 {
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  background: yellow;
}
#display-box5 {
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  background: purple;
}
.little {
  margin-left: 1.2rem;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 80px;
}
.card {
  border: 1px solid purple;
  margin: 1rem;
  font-size: 2rem;
}

/* JS 教學區塊 */
.js-learn {
  margin: 1rem 0;
}
.course-js {
  margin: 1rem;
  font-size: 2rem;
  font-weight: 700;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 0 0 5px 5px #000;
  cursor: pointer;
}
.js-aside {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(200px, auto);
}
.js-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 200px;
  border: 1px solid #000;
  margin-top: 1rem;
}
.js-code {
  background-color: lightsalmon;
  position: relative;
  overflow-y: scroll;
}
.js-result {
  background: lightgreen;
  display: flex;
  padding-top: 15px;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  line-height: 35px;
  font-size: 1.5rem;
  overflow-y: scroll;
}
.js-result-text {
  opacity: 0;
}
.js-content {
  background-color: lightseagreen;
  line-height: 25px;
  letter-spacing: 0.2rem;
  padding: 0.5rem;
  overflow-y: scroll;
}
#var-input-1 {
  width: auto;
}
.js-left {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.js-right {
  margin: 0 auto;
}
.js-output {
  padding: 0.5rem;
  position: sticky;
  bottom: 15px;
  left: 320px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1.2rem;
  background: #777;
}
#type-finish {
  opacity: 0;
  color: red;
  font-weight: 700;
}
