* {
  box-sizing: border-box; /* 使padding、border、margin不影響主體物件大小 */
  margin: 0;
  padding: 0;
  font-family: "Helvetica", "Apple LiGothic Medium", "Herr Von Muellerhoff",
    "Microsoft JhengHei", sans-serif; /* 字形樣式 */
  list-style: none; /* 移除列表的符號 */
  text-decoration: none; /* 移除超連結的下底線 */
  color: #000;
  border: none;
}
input[type="text"] {
  font-size: 1.5rem;
  background: inherit;
  width: 70%; /* 先寫死，後續改成依文字而改變長度 */
}
.container {
  height: calc(100vh - 45px); /* 高度符合顯示器高度 */
  background: linear-gradient(45deg, peru, lightblue); /* 使背景漸層 */
  opacity: 0.7; /* 顯示度 */
  display: flex;
}
.courses {
  width: 100%;
  padding-top: 5rem;
  margin: 0 auto;
}
.course-box {
  margin: 0 auto;
  height: 20%;
  width: 40%;
  font-size: 4rem;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
  border-radius: 15px;
  box-shadow: 0 0 5px 5px #000;
  cursor: pointer;
}
.course-box:hover {
  font-size: 4.2rem;
  box-shadow: 0 0 10px 10px rgb(84, 49, 14);
}
nav {
  width: 100%;
  height: 45px;
  background: gray;
  display: grid;
  grid-template-columns: 1fr 3fr 3fr;
}
.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
#search-btn {
  background: inherit;
  font-size: 1.3rem;
  margin-left: 0.5rem;
  cursor: pointer;
  background: lightcoral;
  padding: 0.5rem;
  border-radius: 5px;
}
#search {
  padding: 0.3rem;
  border: 1px solid #000;
  width: 80%;
}
#search:focus {
  background: orangered;
}
.title-box {
  background: palegreen;
  margin: 0 0.5rem;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 0.5rem;
}
.title {
  font-size: 1.3rem;
  font-weight: 700;
  margin-right: 0.5rem;
}
.title:hover {
  color: lightseagreen;
}
.back {
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  color: white;
  font-size: 1.3rem;
  border-radius: 5px;
  cursor: pointer;
}
aside {
  width: 65%;
  height: 100%;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  background-color: lightsalmon;
  overflow-y: scroll;
}
.course {
  cursor: pointer;
  margin: 1rem;
  font-size: 1.5rem;
}
.right {
  width: 60%;
  border: 1px solid #000;
}
.result {
  background: peru;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow-y: scroll;
}
.result-inner {
  padding: 200px;
  height: 500px;
}
.content {
  background: blue;
  height: 50%;
  font-size: 1.5rem;
  color: black;
  font-weight: 700;
  padding: 1rem 0 1rem 1.3rem;
}

.margin-left {
  margin-left: 1.3rem;
}
.before-top::before {
  content: "top :";
  font-size: 1.5rem;
}
.before-right::before {
  content: "right :";
  font-size: 1.5rem;
}
.before-bottom::before {
  content: "bottom :";
  font-size: 1.5rem;
}
.before-left::before {
  content: "left :";
  font-size: 1.5rem;
}

#outside {
  width: 150px;
  height: 150px;
  background: red;
}
#inner1 {
  width: 50px;
  height: 50px;
  background: green;
}
#inner2 {
  width: 75px;
  height: 75px;
  background: yellow;
}
