* {
  box-sizing: border-box; /* 使padding、border、margin不影響主體物件大小 */
  margin: 0;
  padding: 0;
  font-family: "Helvetica", "Apple LiGothic Medium", "Herr Von Muellerhoff",
    "Microsoft JhengHei", sans-serif; /* 字形樣式 */
  list-style: none; /* 移除列表的符號 */
  text-decoration: none; /* 移除超連結的下底線 */
  border: none;
  font-weight: 700;
}
a {
  color: #777;
}
h3 {
  font-size: 1rem;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  margin: auto;
}
h4 {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
}
.css-text-img {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
input[type="text"] {
  font-size: 1.5rem;
  background: inherit;
  min-width: 58%;
}
/* use CSS page */
.container {
  height: calc(100vh - 45px); /* 高度符合顯示器高度 */
  background: linear-gradient(45deg, peru, lightblue); /* 使背景漸層 */
  opacity: 0.7; /* 顯示度 */
  display: flex;
}
.css-concept {
  margin: 0.5rem;
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(280px, auto);
  column-gap: 10px;
  row-gap: 10px;
}
.concept-card {
  padding-top: 2rem;
  background: #777;
}
.courses {
  width: 100%;
  padding-top: 5rem;
  margin: 0 auto;
}
.course-box {
  color: #000;
  padding: 1.2rem;
  margin: 0 auto;
  height: 20%;
  width: 40%;
  font-size: 4rem;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
  border-radius: 15px;
  box-shadow: 0 0 5px 5px #000;
  cursor: pointer;
}
.course-box:hover {
  font-size: 4.2rem;
  box-shadow: 0 0 10px 10px rgb(84, 49, 14);
}
/* use other page */
.container-grid {
  height: calc(100vh - 45px);
  background: linear-gradient(45deg, peru, lightblue);
  opacity: 0.7;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
nav {
  width: 100%;
  height: 45px;
  background: gray;
  display: flex;
}
.nav-css {
  justify-content: space-between;
}
.js-nav-title {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}
.title-box {
  min-width: 30%;
  background: peru;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
.title {
  font-size: 1.2rem;
  margin-right: 1.5rem;
}
.title:hover {
  color: #000;
  font-size: 1.5rem;
}
.back {
  opacity: 0.6;
  padding: 0.8rem;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  color: white;
  font-size: 1.3rem;
  border-radius: 5px;
  cursor: pointer;
}
.back:hover {
  opacity: 1;
}
.css-aside {
  width: 60%;
  height: 100%;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  background-color: lightsalmon;
  overflow-y: scroll;
}
.course {
  cursor: pointer;
  margin: 1rem;
  font-size: 1.5rem;
}
.right {
  width: 40%;
  border: 1px solid #000;
}
#result-box {
  width: 100%;
  background: peru;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow-y: scroll;
}
.result-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.content {
  background: #6e6eff;
  height: 50%;
  font-size: 1.2rem;
  color: black;
  padding: 1rem 0 1rem 1.3rem;
  overflow: auto;
}

.margin-left {
  margin-left: 1.3rem;
}
.before-top::before {
  content: "top :";
  font-size: 1.5rem;
}
.before-right::before {
  content: "right :";
  font-size: 1.5rem;
}
.before-bottom::before {
  content: "bottom :";
  font-size: 1.5rem;
}
.before-left::before {
  content: "left :";
  font-size: 1.5rem;
}
.empty {
  width: 500px;
  height: 40px;
}
#result {
  width: 250px;
  height: 200px;
  background: firebrick;
  display: flex;
  justify-content: center;
  align-items: center;
}
#outside {
  width: 150px;
  height: 150px;
  background: red;
}
#inner1 {
  width: 50px;
  height: 50px;
  background: green;
}
#inner2 {
  width: 75px;
  height: 75px;
  background: yellow;
}
#inner2:hover {
  width: 100px;
  height: 100px;
}
.rotateBall {
  width: 10px;
  height: 10px;
  background: #000;
  border-radius: 50%;
  margin: 0.3rem;
}

/* animation */
#keyframesNameDiv::before {
  content: "@keyframes ";
  color: purple;
  margin-right: 0.5rem;
  font-size: 1.3rem;
}
#keyframes-box {
  margin-left: 2.2rem;
}
@keyframes name {
  0% {
    left: 0px;
  }
  50% {
    left: 100px;
  }

  100% {
    left: 200px;
  }
}

/* typesetting */
#display-box1 {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: red;
}
#display-box2 {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: blue;
}
#display-box3 {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: green;
}
#display-box4 {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: yellow;
}
#display-box5 {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: purple;
}
.little {
  margin-left: 1.2rem;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background: lightblue;
  height: calc(100vh - 90px);
}
#exercise-h1 {
  height: 45px;
}
.card {
  background-color: #8d00f5;
  opacity: 0.7;
  margin: 1rem;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #000;
}
.card:hover {
  opacity: 1;
  box-shadow: 0 0 10px 4px;
}

/* JS 教學區塊 */
.js-learn {
  margin: 1rem 0;
}
.course-js {
  margin: 1rem;
  font-size: 2rem;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 0 0 5px 5px #000;
  cursor: pointer;
}
.course-js:hover {
  color: #000;
  font-size: 2.5rem;
  box-shadow: 0 0 10px 10px #000;
}
.js-aside {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(200px, auto);
}
/* 只需要 JS 、context、console */
.js-box-2 {
  display: grid;
  grid-template-columns: 2fr 10px 3fr;
  grid-auto-rows: 500px;
  border: 1px solid #000;
  margin-bottom: 2rem;
  background: #000;
  color: white;
}
.js-box {
  display: grid;
  grid-template-columns: 3fr 10px 2fr;
  grid-auto-rows: 500px;
  border: 1px solid #000;
  margin-bottom: 2rem;
  background: #000;
  color: white;
}
.css-box {
  display: grid;
  grid-template-columns: 3fr 10px 3fr 10px 3fr;
  grid-auto-rows: 500px;
  border: 1px solid #000;
  margin-bottom: 2rem;
  background: #000;
  color: white;
}
.code {
  display: grid;
  grid-template-columns: 1fr 10px 1fr;
}
/* 使 HTML、JS、result 區塊可以拖移 */
.resize {
  cursor: col-resize;
}
textarea {
  width: 100%;
  height: 455px;
  padding: 2rem 1.5rem;
  background: #1d1e22;
  color: #fff;
  line-height: 1.8rem;
}
.result-iframe {
  overflow-x: scroll;
  background: #777;
  width: 100%;
  word-wrap: break-word;
  height: 256.5px;
}
.css-result-iframe {
  overflow-x: scroll;
  background: #777;
  width: 100%;
  word-wrap: break-word;
  height: calc(100% - 38px);
  position: relative;
}
.css-content-block {
  height: 50%;
  width: 100%;
  position: absolute;
  bottom: 0;
  margin-top: 0.5rem;
}
.css-content {
  height: calc(100% - 38px);
  padding: 1rem 0 1rem 1.3rem;
  overflow-y: auto;
  background: rgb(119, 119, 119);
  color: #000;
}
.console-iframe {
  background: #777;
  width: 100%;
  height: calc(100% - 38px);
  overflow-y: auto;
}
.css-result-img > img {
  width: 474px;
  height: calc(290px - 38px);
}
.js-block,
.html-block,
.css-block,
.js-show,
.js-console {
  background: #282a36;
  border: 1px solid #777;
  height: 100%;
  /* margin-right: 0.5rem; */
  /* overflow-y: auto; */
}
.js-show {
  position: absolute;
  height: 48%;
  width: 100%;
}
.js-console {
  margin-top: 0.5rem;
  height: auto;
}
.js-title-block {
  background: #777;
  height: 100%;
  /* height: calc(100% - 38px); */
}
.js-title-result-block {
  background: #1d1e22;
  position: relative;
  height: 100%;
  /* width: 100%; */
}
.js-code-result-title {
  padding: 0.5rem;
  max-width: 150px;
  text-align: center;
  background-color: #777;
  font-size: 1.2rem;
  color: #000;
}

.js-code-result-run {
  background-color: #777;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  width: 100px;
  height: 38px;
  border: 3px solid #1d1e22;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.js-code-result-run:hover {
  background-color: #f7f7f7;
  color: #000;
}
.js-code-title {
  padding: 0.5rem;
  background-color: #1d1e22;
  width: 100px;
  text-align: center;
  font-size: 1.2rem;
}
.js-result {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  position: relative;
}
.result-content {
  width: 100%;
  height: calc(100% - 38px);
  background: #777;
  padding: 1rem;
}
/* 清除 */
.js-content {
  background-color: lightseagreen;
  line-height: 25px;
  letter-spacing: 0.2rem;
  padding: 0.5rem;
  overflow-y: scroll;
}
#var-input-1 {
  width: auto;
}
.CodeMirror {
  font-size: 16px;
  height: calc(100% - 38px);
  overflow-y: auto;
}
.CodeMirror-scroll {
  overflow: auto !important;
  margin: 0;
  padding: 0;
}
.CodeMirror-code {
  width: 100%;
}
.CodeMirror-line {
  word-wrap: normal !important;
  white-space: normal !important;
  height: 25px;
}

.js-left {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.js-right {
  margin: 0 auto;
}
.js-output {
  padding: 0.5rem;
  position: sticky;
  bottom: 15px;
  left: 320px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1.2rem;
  background: #777;
}
#type-finish {
  opacity: 0;
  color: red;
}
#dom-url {
  margin-top: 0.5rem;
  margin-left: 11%;
}
