<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <nav>
      <a class="back" href="../pages/css.html">BACK</a>
      <div class="search-box">
        <input type="text" id="search" placeholder="Find code" />
        <button id="search-btn">SEARCH</button>
      </div>
      <!-- 各大選項標題 -->
      <div class="title-box">
        <a class="title" href="../components/position.html">位置</a>
        <a class="title" href="../components/animation.html">特效</a>
        <a class="title" href="../components/typesetting.html">排版</a>
        <a class="title" href="../components/text.html">文字</a>
      </div>
    </nav>
    <div class="container">
      <!-- 選項區 -->
      <aside>
        <!-- transform -->
        <p class="course">
          <input type="radio" name="option" id="transform-translate" />
          <label for="transform-translate">transform:</label>
          <input
            type="text"
            value="translate(0%, 0%)"
            placeholder="請輸入參數"
            id="input-transform-translate"
          />
        </p>
        <p class="course">
          <input type="radio" name="option" id="transform-scale" />
          <label for="transform-scale">transform:</label>
          <input
            type="text"
            value="scale(1,1)"
            placeholder="請輸入參數"
            id="input-transform-scale"
          />
        </p>
        <p class="course">
          <input type="radio" name="option" id="transform-rotate" />
          <label for="transform-rotate">transform:</label>
          <input
            type="text"
            value="rotate(0deg)"
            placeholder="請輸入參數"
            id="input-transform-rotate"
          />
        </p>
        <p class="course">
          <input type="radio" name="option" id="transform-rotate3d" />
          <label for="transform-rotate3d">transform:</label>
          <input
            type="text"
            value="rotate3d(1, 1, 0, 60deg)"
            placeholder="請輸入參數"
            id="input-transform-rotate3d"
          />
        </p>
        <!-- transition -->
        <p class="course">
          <input type="radio" name="option" id="transition" />
          <label for="transition">transition:</label>
          <input
            type="text"
            value="width 2s ease-in 0.5s"
            placeholder="transition-property | transition-duration | transition-timing-function | transition-delay;"
            id="input-transition"
          />
        </p>
        <!-- animation -->
        <p class="course">
          <input type="radio" name="option" id="animation" />
          <label for="animation">animation:</label>
          <input type="text" value="name 2s infinite" id="input-animation" />
          <!-- 放 @keyframe -->
          <div for="animation" id="keyframes-box">
            <!-- 標題 -->
            <div id="keyframesNameDiv"> <input type="text" value="name" id="keyframesName" placeholder="請輸入動畫名稱"></input></div>
            <!-- 執行碼 -->
            <div id="keyframes-code">
              <input value="{from{left:0px} to{left:200px}}" type="text">
            </div>
          </div>
        </p>
      </aside>
      <div class="right">
        <!-- 結果區 -->
        <div class="result">
          <div id="result">
            <div id="inner2"><div class="rotateBall"></div></div>
          </div>
        </div>
        <!-- 解釋區 -->
        <div class="content" id="content"></div>
      </div>
    </div>
    <script src="../common.js"></script>
    <script src="./animation.js"></script>
  </body>
</html>
