<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <nav>
      <a class="back" href="../pages/css.html">BACK</a>
      <div class="search-box">
        <input type="text" id="search" placeholder="Find code" />
        <button id="search-btn">SEARCH</button>
      </div>
      <!-- 各大選項標題 -->
      <div class="title-box">
        <a class="title" href="../components/position.html">位置</a>
        <a class="title" href="../components/animation.html">特效</a>
        <a class="title" href="../components/typesetting.html">排版</a>
      </div>
    </nav>
    <div class="container">
      <!-- 選項區 -->
      <aside>
        <!-- flex -->
        <p class="course">
          <input type="radio" name="option" id="flex" />
          <label for="flex">flex:</label>
          <input type="text" value="1px solid #000" id="input-flex" />
        </p>
        <!-- gird -->
        <p class="course">
          <input type="radio" name="option" id="gird" />
          <label for="gird">gird:</label>
          <input type="text" value="1px solid #000" id="input-gird" />
        </p>
      </aside>
      <div class="right">
        <!-- 結果區 -->
        <div class="result">
          <div id="result"></div>
        </div>
        <!-- 解釋區 -->
        <div class="content" id="content"></div>
      </div>
    </div>
    <script src="../common.js"></script>
  </body>
</html>
